In [1]:
import mysql.connector
from datetime import date

In [2]:
mydb = mysql.connector.connect(host="localhost",user="root",passwd="")
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x059B6598>

In [3]:
mycursor = mydb.cursor()
mycursor.execute("create database if not exists projects")

In [4]:
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('de_sem_6',)
('information_schema',)
('loginsystem',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('projects',)
('test',)

In [5]:
mydb = mysql.connector.connect(host="localhost",user="root",passwd="",database="projects")
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x05EEB220>

In [11]:
today = date.today()
mycursor = mydb.cursor()
# sql = "create table if not exists attendence(enrollment_no varchar(14) primary key, name varchar(50), `%s` varchar(32) default 'absent')"
# val = (str(today),)
# mycursor.execute("create table if not exists users(enrollment_no int(14) primary key AUTO_INCREMENT, name varchar(50),type varchar(50),department varchar(50),email varchar(50),phone_no varchar(50),address varchar(100),pincode int(10))")
mycursor.execute("create table if not exists `manualreports`(id int(14) primary key,name varchar(50),date varchar(15))")
mydb.commit()